@import url(../fonts/CoFoSans/stylesheet.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  touch-action: pan-x pan-y;
  height: 100%;
}

@layer utilities {
  .user-image-hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}
